<ng-container *ngIf="hasCurrentMeasurement">
  <span class="temperature" *ngIf="currentMeasurement?.temperature">
    <i class="wi wi-thermometer"></i>{{currentMeasurement?.temperature?.toFixed(2)}} ºC
  </span>
  <span class="humidity" *ngIf="currentMeasurement?.humidity">
    <i class="wi wi-humidity"></i>{{currentMeasurement?.humidity?.toFixed(2)}}
  </span>
  <span class="pressure" *ngIf="currentMeasurement?.airPressure">
    <i class="wi wi-barometer"></i>{{currentMeasurement?.airPressure?.toFixed(2)}} Pa
  </span>
</ng-container>
<span *ngIf="!hasCurrentMeasurement" class="no-data">Sin datos</span>
