<arm-station-details-header
  [station]="station"
  [currentDate]="currentDate"
  [currentMeasurement]="currentMeasurements"
  (onBackwardDate)="backwardDate()"
  (onForwardDate)="forwardDate()"
></arm-station-details-header>
<apx-chart
  *ngIf="!!chartOptions && !!chartOptions.series"
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [stroke]="chartOptions.stroke"
  [yaxis]="chartOptions.yaxis"
  [markers]="chartOptions.markers"
  [tooltip]="chartOptions.tooltip"
></apx-chart>
