header {
  .toolbar-background {
    width: 101%;
    position: absolute;
    top: -40px;
    left: 0px;
    height: 16rem;
    background: #1976d2;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 68%, 0% 100%);
  }

  img.kairos-logo {
    display: block;
    width: 10rem;
    margin: auto;
    position: relative;
    top: 4.5rem;
    right: 19px;
  }

  .toolbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    img.kairos-logo {
      display: block;
      width: 10rem;
      margin: auto;
      position: relative;
      top: 5rem;
      right: 0;
    }

    a {
      text-decoration: none;
      position: absolute;
      top: 2rem;
      left: 0;
      right: 0;
      color: white !important;
      display: inline-table;
      margin: auto;
      font-size: 3rem;

      &:hover span.kairos-logo-title {
        color: #dfdfdf;
        text-shadow: 3px 1px 12px #00fdec;
      }

      span.kairos-logo-title {
        position: relative;
        bottom: 15px;
        text-shadow: 1px -1px 4px #0dddcf;
        font-family: "Dalek", Arial, Helvetica, sans-serif;
      }

      text-decoration: none;
      color: inherit;
    }

    img {
      margin: 0 16px;
    }
  }
}

@media screen and (max-width: 376px) {
  header {
    .toolbar-background {
      height: 12rem !important;
    }

    img.kairos-logo {
      top: 3.8rem !important;
      width: 6rem !important;
    }

    .toolbar-container {
      a {
        span.kairos-logo-title {
          font-size: 1.95rem !important;
          bottom: 2rem !important;
        }
      }
  }
  }
}

@media screen and (max-width: 575px) and (min-width: 376px) {
  header .toolbar-background {
    height: 16rem !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 980px) and (orientation: landscape) {
  header {
    .toolbar-background {
      top: 22px;
      clip-path: polygon(0% 18%, 100% 18%, 100% 0%, 0% 0%);
    }

    .toolbar-container {
      img.kairos-logo {
        display: block;
        margin: auto;
        position: relative;
        width: 5rem !important;
        top: 0.3rem !important;
        right: 43% !important;
      }

      a span {
        bottom: 14px !important;
      }
    }
  }
}
