<arm-station-details-header
  *ngIf="stationGroup"
  [station]="stationGroup"
  [currentDate]="currentDate"
  [lastestMeasurement]="stationGroup.currentMeasurement"
  (onBackwardDate)="backwardDate()"
  (onForwardDate)="forwardDate()"
></arm-station-details-header>
<apx-chart
  *ngIf="!!chartOptions && !!chartOptions.series"
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [xaxis]="chartOptions.xaxis"
  [stroke]="chartOptions.stroke"
  [yaxis]="chartOptions.yaxis"
  [markers]="chartOptions.markers"
  [tooltip]="chartOptions.tooltip"
></apx-chart>

<arm-aggregate-summary
  [aggregate]="aggregate"
  [period]="period"
  (onPeriodChange)="selectPeriod($event)"
></arm-aggregate-summary>
