:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.triangle {
  width: 101%;
  position: absolute;
  top: -40px;
  left: 0px;
  height: 16rem;
  background: #1976d2;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 68%, 0% 100%);
}

img.kairos-logo {
  display: block;
  width: 10rem;
  margin: auto;
  position: relative;
  top: 4.5rem;
  right: 19px;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  span.kairos-logo-title {
    text-shadow: 1px -1px 4px #0dddcf;
    font-family: "Dalek", Arial, Helvetica, sans-serif;
  }

  img.kairos-logo {
    display: block;
    width: 10rem;
    margin: auto;
    position: relative;
    top: 5rem;
    right: 0;
  }

  a {
    text-decoration: none;
    position: absolute;
    color: white !important;
    top: 24px;
    display: inline-table;
    margin: auto;
    font-size: 3rem;

    &.toolbar:hover span {
      color: #dfdfdf;
      text-shadow: 3px 1px 12px #00fdec;
    }

    &.toolbar span {
      position: relative;
      bottom: 15px;
    }

    &.toolbar, &.toolbar:visited, &.toolbar:active {
      text-decoration: none;
      color: inherit;
    }
  }

  img {
    margin: 0 16px;
  }

  #github-logo {
    filter: invert(1);
  }

  #github-logo:hover {
    opacity: 0.8;
  }
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  margin-top: 15.5rem;
}

.content p {
  text-align: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #07adad;
  height: 120px;
  width: 300px;
  margin: 0 8px 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease-in-out;
  color: white;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: calc(100vh - 95px);
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.city {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.city .container {
  white-space: nowrap;
}

.city .container .name {
  position: relative;
  top: -1px;

}

.city .container .place {
  font-size: 0.6rem;
  margin: 3px 4px;
  position: relative;
  top: -2px;
}

.line {
  border-bottom: 1px solid;
  top: -7px;
  position: relative;
  width: 100%;
  margin: 0 4px;
}

.city .status {
  min-width: 15px;
  border-radius: 100%;
  border: 1px solid white;
}

.city .status.warning {
  background-color: yellow !important;
}

.city .status.offline {
  background-color: red !important;
}

.city .status.online {
  background-color: green !important;
}

.measurement-container {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 55%;
}

.measurement-container .temperature {
  padding: 12px;
  white-space: nowrap;
}

.measurement-container .humidity {
  padding: 12px;
  white-space: nowrap;
}

.last-record {
  width: 100%;
  text-align: center;
  margin-bottom: -8px;
  font-size: 0.7rem;
  padding: 0 24px;
}

hr {
  border: 0.01rem solid white;
}

//footer

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  a {
    color: #18909b;
  }

  svg {
    height: 41%;
  }

  .footer-container {
    margin: auto;
    padding: 20px;
    display: table;

    a {
      display: flex !important;
      align-items: center !important;
      transition: all 0.3s ease !important;

      img {
        filter: invert(46%) sepia(52%) saturate(618%) hue-rotate(137deg) brightness(92%) contrast(95%);
      }

      span {
        margin-left: 8px !important;
      }

      &:hover {
        color: #d7310c !important;
        img {
          filter: invert(34%) sepia(56%) saturate(4348%) hue-rotate(352deg) brightness(82%) contrast(106%) !important;
        }
      }
    }
  }
}
