<ng-container *ngIf="!isStationGroup">
  <span *ngIf="hasCurrentMeasurement">{{lastMeasurementMessage}}</span>
  <span *ngIf="!hasCurrentMeasurement">Sin datos</span>
</ng-container>
<ng-container *ngIf="isStationGroup">
  <div class="station-group-buttons">
    <button
      class="chart-button"
      [routerLink]="['/station-group-measurements', station.id]"
      (click)="$event.stopPropagation()"
    >
      <fa-icon [icon]="chartIcon"></fa-icon>
      <span>Mediciones</span>
    </button>
    <button
      class="station-button"
      [routerLink]="['/station-group-details', station.id]"
      (click)="$event.stopPropagation()"
    >
      <fa-icon [icon]="stationIcon"></fa-icon>
      <span>Estaciones</span>
    </button>
  </div>
</ng-container>


