<arm-card-layout [type]="types">
  <ng-container card-header>
    <app-station-card-header
      [station]="station"
      [lastMeasurementDateTimeLocal]="lastMeasurementDateTimeLocal"
      [statusClass]="status"
      [type]="types"
    ></app-station-card-header>
  </ng-container>
  <ng-container card-main>
    <app-station-card-main
      [ngClass]="{ 'grouped': isStationGroup }"
      [hasCurrentMeasurement]="hasCurrentMeasurement"
      [currentMeasurement]="currentMeasurement"
    ></app-station-card-main>
  </ng-container>
  <ng-container card-footer>
    <app-station-card-footer
      [hasCurrentMeasurement]="hasCurrentMeasurement"
      [lastMeasurementMessage]="lastMeasurementMessage"
      [type]="types"
    ></app-station-card-footer>
  </ng-container>
</arm-card-layout>
